.filter-form {
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
}
.filter-form fieldset {
  text-align: left;
}

.filter-value {
  display: flex;
  font-weight: bold;
}
.filter-value label {
  padding: 5px 10px;
}

/*
.filter-value .filter-input,
.filter-value .filter-dropdown {
  height: 20px;
}*/

.filter-button {
  text-align: center;
  margin: 10px 0;
}

.filter-button button {
  margin-left: 20px;
}

.filter-form label {
  text-align: left;
}
